body {
  background-color: #2b425d;
  font-family: 'VT323', monospace;
  margin: 0;
}

header {
  font-size: 5em;
  margin-bottom: 40px;
  margin-left: 41.5%;
  margin-top: 40px;
  text-align: center;
  width: 250px;
}

main {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr
}

h1 {
  font-size: 2.5em;
  margin: .5em 0 0 0;
  text-align: center;
}

p {
  font-size: 2em;
  text-align: center;
}

footer {
  display: grid;
  justify-content: center;
  left: 31.7%;
  margin-bottom: 300px;
  margin-top: 40px;
  position: absolute;
  width: 537px;
}

.canvas-background {
  background-color: #a4c23d;
  border: 5px solid black;
  height: 496px;
  left: 15.75%;
  position: relative;
  width: 500px;
}

.container {
  background-color: #d4e4eb;
  border: 5px solid black;
}

#game {
  position: absolute;
  border: 1px dashed;
  display: block;
  left: 33%;
}

.lives-container {
  display: grid;
  justify-content: center;
}

.lives-container,
.score-container {
  border-radius: 30%;
  margin: auto;
  width: 160px;
}

.score-container {
  display: grid;
  justify-content: center;
}

.title-container {
  border-radius: 15px;
}

